button {
  background-color: #E3340E;
  border: none;
  border-radius: 5px;
  color: #F3F3F3;
  outline: none;
  padding: 12px 26px;
  margin-bottom: 3rem;
}

.btn-container {
  display: flex;
  justify-content: center;
}
