.pokemon-force-container {
  display: flex;
  flex-direction: column;
  height: 70vh;
  margin-top: 2rem;
  justify-content: space-around;
}

.pokemon-force-section h3 {
  font-size: 1.4rem;
  font-weight: normal;
  margin-bottom: 1rem;
}

.pokemon-types {
  display: flex;
  flex-wrap: wrap;
}

.pokemon-types p {
  font-size: 1.2rem;
  padding: 10px 25px;
  margin-bottom: 1rem;
  text-align: center;
}
