.fire {
  background-color: #F77D25;
  color: white;
}

.grass {
  background-color: #9BCC50;
  color: black;
}

.water {
  background-color: #4592C4;
  color: white;
}

.electric {
  background-color: #EED535;
  color: black;
}

.rock {
  background-color: #A38C20;
  color: white;
}

.dark {
  background-color: #707070;
  color: white;
}

.flying {
  background: rgb(189,185,184);
  background: linear-gradient(180deg, rgba(63,199,239,1) 50%, rgba(189,185,184,1) 50%);
  color: black;
}

.psychic {
  background-color: #F366B9;
  color: white;
}

.bug {
  background-color: #729F3F;
  color: white;
}

.normal {
  background-color: #A4ACAF;
  color: black;
}

.ground {
  background: rgb(247,222,63);
  background: linear-gradient(180deg, rgba(247,222,63,1) 50%, rgba(171,152,66,1) 50%);
  color: black;
}

.fairy {
  background-color: #FBB9E9;
  color: black;
}

.ice {
  background-color: #51C4E7;
  color: black;
}

.poison {
  background-color: #B97FC9;
  color: white;
}

.steel {
  background-color: #9EB7B8;
  color: black;
}

.ghost {
  background-color: #7B62A3;
  color: white;
}

.fighting {
  background-color: #D56723;
  color: white;
}

.dragon {
  background: rgb(83,164,207);
  background: linear-gradient(180deg, rgba(83,164,207,1) 50%, rgba(241,110,87,1) 50%);
  color: white;
}

.hidden-scroll::-webkit-scrollbar {
  display: none;
}

.hidden-scroll {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
